
.contenedor-contactos {
    padding: 15px 0;
}

.contacto-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 20px;
    align-items: center;
}

.contacto-item.active {
    background-color: #101D25;
    border-radius: 0.8rem;
}

.cuerpo-contacto {
    color: #ACB5BC;
    flex: 1 0 auto;
    border-bottom: 1px solid #304D5F;
    align-self: stretch;
    font-size: 1.3rem;
}

.big-avatar {
    width: 64px;
    height: 64px;
    margin-right: 15px;
}
